.divv{
    background-color: bisque;
    margin:20px;
}



#btn-1{
    color: azure;
    background-color: rgb(158, 82, 82);
    padding: 10px;
    margin:20px;
    border:2px solid black;
    border-radius: 10px;
}
#btn-1:hover{
    color: azure;
    background-color: rgb(145, 29, 29);

}
#btn-2{
    color: azure;
    background-color: rgb(35, 86, 38);
    padding: 10px;
    margin:20px;
    border:2px solid black;
    border-radius: 10px;
}
#btn-2:hover{
    color: azure;
    background-color: rgb(23, 203, 35);


}